$global-font:'Work Sans', sans-serif;
$heading-font:'Rubik', sans-serif;
$subheading-font:'Rubik', sans-serif;

//path to assets
$assets:'../';

//Breakpoints
$small:320px;
$mobile:768px;
$tablet:769px;
$desktop:1024px;
$widescreen:1216px;
$fullscreen:1408px;

//Global size font
$font-size-global:16;